<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>raicore wallet</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/rb-gridfree.js"></script>
    <script src="~/js/rb-tabs.js"></script>
    <script src="~/js/rb-modals.js"></script>
    <link href="~/lib/normalize-css/normalize.css" rel="stylesheet"/>
    <link href="~/css/rb-core.css" rel="stylesheet"/>
    <link href="~/css/rb-gridfree.css" rel="stylesheet"/>
    <link href="~/css/rb-tabs.css" rel="stylesheet"/>
    <link href="~/css/rb-modals.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body class="rb-container-dark">
<h1>
    <img id="Logo" src="images/raicore.png" width="32" height="32" alt="raicore logo"/>raicore wallet
</h1>
@RenderBody()
</body>
</html>